<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'Memo app', root_path, id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="/">Home</a></li>-->
        <li><%= link_to 'Home', root_path %></li>
        <%# FIXME New memo path 설정하기 %>
        <li><%= link_to 'New Memo', new_memo_path %></li>
        <%# TODO 로그인/로그아웃 상태에 따라 바꾸기 완성하기 %>
        <% if user_signed_in? %>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Log in', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>